*{
    margin: 0;
    padding:0;
}
html{
    background: black;
    font-family: "Lexend Deca", sans-serif;
    color: white;
    font-weight: 600;
}
body{
    min-height: 100vh;
    align-content: center;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}
a{
    text-decoration: none;
    color: rgb(194, 220, 255);
}
.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    
  }
.projects{
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 45px;
    margin-top: 45px;
}
.card{
    padding: 2em;
    width: 400px;
    height: 330px;
    background: #24282c;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.card::after, .card::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(21,14,55);
    background: conic-gradient(from var(--angle),#150e37 70%, #195392);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spinGrad linear infinite;
}
.card::before{
    filter: blur(2rem);
}
@keyframes spinGrad{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
p{
    font-weight: 200;
    font-size: 20px;
}


.sqsk{
    padding: 2em;
    width: 400px;
    height: 330px;
    background: #24282c;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
@property --angles{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.sqsk::after, .sqsk::before{
    
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(21,14,55);
    background: conic-gradient(from var(--angles),#195392, #150e37 70%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spinner linear infinite;
}
.sqsk::before{
    filter: blur(2rem);
}
@keyframes spinner{
    from{
        --angles: 360deg;
    }
    to{
        --angles: 0deg;
    }
}