pre, code { font-family: Hack, monospace; }
html{
    background-color: rgb(25, 28, 36);
    font-family: Hack, monospace;
    color: white;
    overflow:hidden;
    position: relative
}
span, header{
    font-size:1.5vh;
}a{
    color: #72cce4;
    cursor:pointer;
    text-decoration: none;
}
.header{display: inline-block;}
.typewriter{

  width:100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid;
  animation: 
    typing 2s steps(35), 
    cursor .9s ease-in-out infinite alternate;
}
@keyframes cursor {
  0%{border-color: #1875d2;}
  50%{border-color: transparent;}
  100%{border-color: #1875d2;}
}@keyframes typing {
  from {width: 0}
}

.glow{
  text-shadow: 0 0 5px #72cce4;
  transition-duration: 0.5s;
}.glow:hover{
  text-shadow: 0 0 15px #72cce4,0 0 5px #72cce4;
}

.ascii{
  color:#72cce4;
  vertical-align: middle;
  text-shadow: 0 0 10px #72cce4,0 0 5px #72cce4;
  text-align: center;
}diffcol{
  color:#1875d2;
  text-shadow: 0 0 10px #1875d2;
}
.ascii{display: grid; place-items: center;}
.asciiTxt{
  margin: auto 0;
  transform: translateX(-0.5%);
  width:100%;
  overflow: hidden;
  animation: 
    typing 3s steps(50) 
}
@keyframes typing {
  from {width: 0}
}.asciiWrap{
  width:100%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.subAscii{
  text-align: center;
  transform: translateX(0.5%);
}.glowSub{
  color: #1875d2;
  text-shadow: none;
  transition-duration: 0.3s;
  line-height: 150%;
}.glowSub:hover{
  text-shadow:0 0 5px #72cce4;
  text-shadow:0 0 10px #72cce4;
}

p, a, span, header,pre{
  font-size: 1.2rem;
}

footer {
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  text-align: center;
  height: 1.2rem;
  padding: 0.5rem 0;
  color: #1875d2;
  text-shadow:0 0 10px #1875d2;
}footer>span{
  font-size: 16px;
}

.box{
  width: 25%;
  overflow: hidden;
  color:#1875d2;
  text-shadow: none;
}
